@model List<Author>
@{
    int counter = 0;
}
<div class="container-fluid">
    <div class="row align-items-center justify-content-between">
        <h1>Authors:</h1>
        <a asp-action="create" asp-controller="author" class="btn btn-outline-primary">Create</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Book Count</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@item.Fullname</td>
                    <td>@item.Books.Count</td>
                    <td>
                        <a asp-action="update" asp-controller="author" asp-route-id="@item.Id" class="btn btn-outline-warning">Update</a>
                        <a asp-action="delete" asp-controller="author" asp-route-id="@item.Id" class="btn btn-outline-danger delete-btn">Delete</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

